.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    padding: 10px;
    flex: 1 1 30px;
}

.logo {
    background-color: orange;
    border-radius: 25px;
    padding: 5px;
    height: 30px;
    width: 30px;
}

.button {
    height: 30px;
    width: 30px;
    margin: 0 0 0 5px;
}