.wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: Roboto;
}

.container {
    margin: 0 auto;
    width: 500px;
    display: flex;
}

.input {
    padding: 0 0 0 5px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    flex: 1 1 90%;
}

.button {
    margin: 0 0 0 10px;
    padding: 10px 0;
    flex: 1 1 10%;
    border-style: none;
    border-radius: 5px;
    background-color: lightblue;
}
